.mat-mdc-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.mat-mdc-header-row {
  display: table-row;
  color: white;
  background-color: #673ab7;
}

.mat-mdc-row {
  display: table-row;
}

.mat-mdc-header-cell {
  display: table-cell;
  text-align: center;
  padding: 10px;
}

.mat-mdc-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.mat-mdc-cell img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}

.mat-mdc-cell button {
  margin: 0 auto;
}
.no-pokemons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajusta según tu necesidad */
  background-color: #f3e5f5; /* Un tono suave de morado para coherencia */
  border: 2px dashed #673ab7; /* Bordes para destacar el mensaje */
  border-radius: 8px;
  color: #673ab7; /* Mismo color que el encabezado */
  font-size: 16px; /* Tamaño de fuente similar al resto */
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.no-pokemons p {
  margin: 0;
  font-weight: bold;
}
