<div mat-dialog-container>
  <h1 mat-dialog-title>{{ pokemon?.name }}</h1>

<mat-dialog-content>
  <div class="image-container">
    <img [src]="pokemon?.sprites?.front_default" alt="{{ pokemon?.name }}" />
  </div>
  
  <div>
    <strong>Type: </strong>
    <button mat-raised-button *ngFor="let type of pokemon?.types">{{ type?.type?.name }}</button>
  </div>

  <mat-tab-group>
    <mat-tab label="About">
      <div class="description-section">
        <strong>Description:</strong>
        <p class="description-text">{{ about }}</p>
      </div>
      <div class="abilities-section">
        <strong>Abilities:</strong>
        <div class="abilities-list">
          <div class="ability-item" *ngFor="let ability of pokemon?.abilities">
            {{ ability?.ability?.name }}
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Basic Stats">
      <app-pokemon-stats [stats]="stats"></app-pokemon-stats>
    </mat-tab>
    <mat-tab label="Evolution">
      <div *ngFor="let evol of evolution">
        <li>{{ evol || 'Evolution data not available' }}</li>
      </div>
    </mat-tab>
    <mat-tab label="Moves">
      <div *ngFor="let move of moves">
       <li>{{ move }}</li> 
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>

</div>