/* Establecer tamaño fijo para el modal */
.mat-dialog-container {
  max-width: 100% !important; /* Evita que se haga más grande que la pantalla */
  max-height: 100% !important; /* Evita que se haga más alto que la pantalla */
  overflow: hidden;  /* Evitar que el modal cambie de tamaño por el contenido */
}
  /* Estilo general para el contenido del modal */
  mat-dialog-content {
    padding: 20px;
    overflow-y: auto;  /* Habilita desplazamiento vertical dentro del contenido */
  }
  
  /* Estilo de la imagen del Pokémon */
  .image-container {
    display: flex; /* Flexbox para centrar contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 40vh; /* Altura relativa al modal */
    margin-bottom: 20px; /* Espacio entre la imagen y el contenido siguiente */
  }
  
  .image-container img {
    width: auto; 
    height: 100%; 
    max-width: 100%; 
    max-height: 100%;
    object-fit: initial; 
  }
  
  /* Estilo para los títulos de las pestañas */
  mat-tab-group {
    margin-top: 20px;
  }
  
  mat-tab-label {
    font-size: 18px;
    font-weight: bold;
    color: #673ab7; 
    text-transform: uppercase;
  }
  
  mat-tab-label:hover {
    background-color:#673ab7;  /* Hover para las pestañas */
    color: #ffffff;
  }
  
  /* Estilo para el contenido de las pestañas */
  mat-tab-body {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-height: 400px;  /* Limita el alto del contenido */
    overflow-y: auto;  /* Habilita el desplazamiento si el contenido es demasiado grande */
  }
  
  mat-tab-body p,
  mat-tab-body div {
    font-size: 16px;
    color: #333333;
    margin: 10px 0;
  }
  
  /* Estilo de los labels de estadísticas */
  mat-tab-body strong {
    color: #673ab7;
  }
  
  /* Estilo para el título del modal */
  h1[mat-dialog-title] {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #673ab7;  /* Color llamativo para el título */
    margin-bottom: 20px;
  }
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  