.container{
    margin-top: 10px;
}

.title-card {
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    height: 60px; /* Ajusta la altura según sea necesario */
}

.title-card h1 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #673ab7;
    text-transform: capitalize;
}
.filter-container {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.filter-input {
  width: 100%;
}

button {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .mat-form-field {
  margin-bottom: 0;
  height: 56px;
}

.pokemon-list {
    padding: 16px;
  }

  .pokemon-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .pokemon-card:hover {
    transform: scale(1.05);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3) !important;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .card-content img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 8px;
  }
  
  .card-content h2 {
    margin: 0;
    font-size: 1.2rem;
    text-transform: capitalize;
  }
   
   .pokemon-card:hover h2 {
    color: #4a1a9e;
   }
   
   .pokemon-card:hover img {
    transform: scale(1.1);
   }

   .no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: #d32f2f; /* Rojo intenso */
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #d32f2f; /* Línea discontinua para resaltar */
    border-radius: 8px;
    background-color: #ffe6e6; /* Fondo suave rosado */
  }
  .no-results span {
    margin-top: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    color: lightslategray;
    gap: 0.5rem; /* Espacio entre el texto y los emojis */
  }
  .no-results p {
    margin: 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espacio entre el texto y los emojis */
  }
  
  .no-results p::before {
    content: "⚠️"; /* Emoji de advertencia antes del texto */
    margin-right: 0.5rem;
  }
  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  
  @media (max-width: 1200px) {
    .grid-responsive {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .grid-responsive {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .grid-responsive {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 400px) {
    .grid-responsive {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  