<div class="container">
  <mat-card class="title-card" appearance="outlined">
    <h1><strong>Lista de Pokemons:</strong></h1>
  </mat-card>

  <form [formGroup]="filterForm">
    <div class="filter-container">
      <mat-form-field class="filter-input">
        <mat-label>Filter</mat-label>
        <input matInput formControlName="filterValue" [type]="inputType" (keyup)="applyFilter($event)" (keydown)="handleKeyDown($event)" >
      </mat-form-field>

      <mat-form-field class="filter-input">
        <mat-label>Filter by</mat-label>
        <mat-select formControlName="filterBy">
          <mat-option value="id">Id</mat-option>
          <mat-option value="name">Name</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>

  <div class="pokemon-list">
    <!-- Mostrar mensaje si no hay Pokémon -->
    @if (pokemons && pokemons.length === 0) {
      <div class="no-results">
        <p>Pokemon no encontrado.</p>
        <span>verifique si el id o nombre es correcto</span>
      </div>
    }
    <mat-grid-list [cols]="cols" rowHeight="220px" gutterSize="16px">
      @for (pokemon of pokemons; track pokemon) {
        <mat-grid-tile (click)="openPokemonModal(pokemon)">
          <mat-card class="pokemon-card" appearance="outlined" [ngStyle]="getCardStyle(pokemon.id)">
            <mat-card-content class="card-content">
              <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
              <h2 [ngStyle]="getTextStyle(pokemon.id)">{{ pokemon.name }}</h2>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      }
    </mat-grid-list>
    @if (totalPokemons > 2) {
      <mat-paginator [length]="totalPokemons" [pageSize]="20" (page)="onPageChange($event)">
      </mat-paginator>
    }
  </div>
</div>