<div class="initial-pokemon-container">
    <h2>Elige tu Pokémon inicial</h2>
    <div class="pokemon-grid">
      @for (pokemon of initialPokemons; track pokemon.id) {
        <div 
          class="pokemon-card" 
          [style.--pokemon-color]="pokemon.color || defaultColor"
          (click)="openPokemonModal(pokemon)"
        >
          <div class="card-content">
            <h3>{{ pokemon.name }}</h3>
            <img [src]="pokemon.sprite" [alt]="pokemon.name">
            <p>{{ pokemon.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>